body{
    /* font-family:'Source Sans Pro', sans-serif; */
    background-color: #F5F5F7;
    padding: 0;
    margin: 0;
}

a{text-decoration: none; color:white}
a:visited{text-decoration: none;}
/* common */

/* 새로운 header */
header{
    display: flex;
    background-color: #333;
}
nav.navbar{
    width: 100%;
    height: 70px;
    background-color: #333;
    justify-content: space-around;
    align-items: center;
    margin: auto;
    /* position: fixed; */
}
nav>div>a.navbar-brand{
    margin-left: 3%;
}
i.fa-house{
    font-size: 20px;
    line-height: 40px;
}
nav>div>button>span i{
    font-size: 30px;
    text-align: center;
    color: #fff;
    line-height: 40px;
}
nav>div>*:nth-child(3){
   border-radius: 10px;
   justify-content: center;
   border-radius: 10px;
   /* overflow: hidden; */
}
nav>div>*:nth-child(3)>ul{
    background-color: #333;
   text-align: center;
   margin-right: 10px;
}
nav>div>*:nth-child(3)>ul>li>*:nth-child(2){
    text-align: center;
}
nav>div>*:nth-child(3)>ul>li:hover{
    background-color: grey;
    border-radius: 10px;
}

/* body - main */
.title p {
    justify-content: center;
    text-align: center;
    margin: 20px
}
.title span {
    color: #0066cc;
}
.photo{
    text-align: center;
    /* min-height: 300px;
    line-height: 300px; */
    display: flex;
    justify-content: space-around;
    width: 97%;
    height: 100%;
    margin: 20px auto;
    border-radius: 10px;
}
.photo img{
    width: 500px;
    border-radius: 10px;
    margin: 12px;
    padding: 0;
}
.photo>div{
    /* border: 1px solid black; */
    font-size: larger;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.photo>div *:nth-child(1){
    font-size: 35px;
    font-weight: bolder;
    padding-top: 40px;
}
.photo>div div{
    margin: 8px;
}
.photo>div *:nth-child(4){
    width: 120px;
    background-color: #0171E3;
    border: 1px solid #0171E3;
    border-radius: 10px;
    color: white;
    font-size: 13px;
    transition: 0.3s;
    display: block;
    margin: 10px auto;
}
.photo>div *:nth-child(5){
    background-color: white;
    border: none;
    color: #0171E3;
    font-size: small;
    padding-bottom: 40px;
}
.photo>div *:nth-child(4):hover{
    background-color: #afcdea;
    border: 1px solid #afcdea;
}

.photo:nth-child(2)>div *:nth-child(5){
    background-color: black;
    color:white;
}
.photo:nth-child(4)>div *:nth-child(5){
    background-color: black;
    color:white;
}
.photo:nth-child(1){
    background-color: white;
}
.photo:nth-child(2){
    background-color: black;
    color:white;
}
.photo:nth-child(3){
    background-color: white;
}
.photo:nth-child(4){
    background-color: black;
    color:white;
}
/* footer{
    height: 70px;
    display: flex;
    justify-content: space-between;
    line-height: 70px;
    margin-top: 50px;
}
footer>div{
    display: flex;
    justify-content: center;
} */
footer {
    width: 100%;
    height: 70px;
    /* border: 1px solid #000; */
    display: flex;
    justify-content: space-between;
    line-height: 70px;
    padding: 0 10px;
    background-color: #333;
    color: white;
}

.footer-left {
    display: flex;
}

.footer-left div {
    margin-right: 20px;
}

.footer-right {
    margin-right: 0px;
    display: flex;
}
.footer-right>div{
    margin-right: 8px;
}
.SNS i {
    margin: 0 5px;
}
footer span {
    border-right: 1px solid white;
}
/* Reactive type */
/* .photo:nth-child(2n)>.col-sm-12{
    order: 1;
} */